[submodule "external/external/glfw"]
	path = external/external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/external/imgui"]
	path = external/external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Core/Vendor/tinyobjloader"]
	path = Core/Vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
